.clear,
.first {
  clear: both;
}
.container {
  max-width: none !important;
  width: 960px;
}
.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
.navbar-header {
  float: left;
}
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav.navbar-right {
  float: right;
}
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #fed61c !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
::selection {
  background-color: #f09029;
  color: #FFF;
}
::-moz-selection {
  background-color: #f09029;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a,
button {
  transition: all 0.25s ease 0s;
}
hr.lg {
  border-width: 3px;
  border-color: #1e1e1e;
}
.lista-box .title,
.lista-vantagens .media-heading,
.ribbon,
.box .media-heading,
.chamada .desc strong,
.servico .media-heading,
.box-servicos .box-header .media-heading,
.box-comentario .box-header .media-heading,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
.btn,
.site-header .navbar-nav,
.header-right,
.site-footer {
  font-family: 'GothamBlack', Arial, sans-serif;
  font-weight: normal;
}
.chamada .desc,
.chamada .resumo,
.chamada .resumo h1,
.box-comentario .autor,
.footer-header,
.box-bg .box-header .media-heading {
  font-family: 'GothamLightItalic', Arial, sans-serif;
  font-weight: normal;
}
.interna .box-comentario .media-heading,
.interna .box-comentario .comentario {
  font-family: 'GothamLight', Arial, sans-serif;
  font-weight: normal;
}
.conteudo-header,
.box-comentario .comentario {
  font-family: 'GothamBold', Arial, sans-serif;
  font-weight: normal;
}
.interna .box-comentario .autor,
.conteudo-resumo {
  font-family: 'mission_scriptregular', Arial, sans-serif;
  font-weight: normal;
}
.servico-destaque .title {
  font-family: 'coneria_script_demoregular', Arial, sans-serif;
  font-weight: normal;
}
.site-footer small {
  font-family: Arial, sans-serif;
  font-weight: normal;
}
.extra-header,
.extra-central,
.extra-footer {
  min-width: 960px;
}
.extra-header .line-1 {
  background: url(../imagem/site/bg-header.jpg) no-repeat center top;
  height: 90px;
}
.extra-header .navbar {
  border: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.extra-header .navbar-nav {
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.extra-header .navbar-nav > li {
  float: none;
  display: inline-block;
}
.extra-header .social-header a {
  display: inline-block;
  vertical-align: middle;
}
.extra-header .social-header a + a {
  margin-left: 15px;
}
.extra-header .header-right {
  color: #000;
  text-align: right;
  padding-top: 34px;
}
.extra-header .header-right span {
  display: inline-block;
}
.extra-header .header-right > .content {
  display: inline-block;
  background: #FFF;
  height: 56px;
  padding: 14px 5px 14px 15px;
  margin-right: 34px;
}
.extra-header .phone-header {
  margin-left: 30px;
}
.extra-header .phone-header > .content {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.extra-central {
  padding: 0px 0 50px;
}
.extra-social {
  text-align: center;
  background: url(../imagem/site/mosaico.jpg) repeat center;
}
.extra-social .extra-1,
.extra-social .extra-2,
.extra-social .content {
  display: inline-block;
}
.extra-social .extra-1 {
  background: url(../imagem/site/bg-social-left.png) repeat-y left center;
  padding-left: 93px;
}
.extra-social .extra-2 {
  background: url(../imagem/site/bg-social-right.png) repeat-y right center;
  padding-right: 93px;
}
.extra-social .content {
  padding: 40px 40px;
  background: #FFF;
}
.extra-social .content > a + a {
  margin-left: 15px;
}
.extra-footer {
  background: #000;
  text-align: center;
  color: #e1e1e1;
  padding: 18px 0;
}
.extra-footer .footer-header {
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  color: #FFF;
  margin: 15px 0;
}
.extra-footer small {
  font-size: 10px;
}
.home .extra-central {
  padding-top: 20px;
}
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.btn {
  text-transform: uppercase;
}
.btn .ycon-arrow-right-white,
.btn .ycon-arrow-right {
  margin-left: 15px;
  margin-top: -3px;
}
.btn-white {
  background: #FFF;
  color: #3d3d3d;
}
.btn-white:hover {
  background-color: #e6e6e6;
}
.btn-border {
  border: 3px solid;
  background-color: transparent;
}
.btn-border:hover {
  color: #FFF;
}
.btn-border.btn-warning {
  border-color: #ffb400;
  color: #ffb400;
}
.btn-border.btn-primary {
  border-color: #fed61c;
  color: #fed61c;
}
.btn-border.btn-default {
  border-color: #cecece;
  color: #3d3d3d;
}
.btn-border.btn-default:hover {
  color: #000;
}
.box-chamadas .chamada {
  position: relative;
  margin: 0 0 20px;
  text-align: right;
  overflow: hidden;
}
.box-chamadas .chamada .imagem {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
}
.box-chamadas .chamada .imagem a {
  display: block;
  width: 100%;
  height: 275px;
  background: no-repeat center;
  background-size: cover;
}
.box-chamadas .chamada .hover {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.box-chamadas .chamada .resumo {
  padding: 15px 30px;
}
.box-chamadas .chamada .resumo,
.box-chamadas .chamada .resumo h1 {
  font-size: 46px;
  line-height: 1;
}
.box-chamadas .chamada .resumo,
.box-chamadas .chamada .resumo a,
.box-chamadas .chamada .resumo h1,
.box-chamadas .chamada .resumo h1 a {
  color: #FFF;
}
.box-chamadas .chamada .desc {
  background: url(../imagem/site/bg-chamada-desc.png) no-repeat left top;
  width: 360px;
  height: 85px;
  font-size: 16px;
  padding: 27px 15px 0px 90px;
}
.box-chamadas .chamada .desc > a {
  display: inline-block;
  vertical-align: middle;
  max-width: 96%;
}
.box-chamadas .chamada .desc,
.box-chamadas .chamada .desc a {
  color: #3d3d3d;
}
.box-chamadas .chamada.destaque .imagem a {
  height: 570px;
}
.box-chamadas .chamada.destaque .hover {
  width: 480px;
}
.box-chamadas .chamada.destaque .desc {
  font-size: 25px;
  background-image: url(../imagem/site/bg-chamada-destaque-desc.png);
  width: 480px;
  height: 111px;
  line-height: 1;
  padding-top: 0;
}
.box-servicos {
  margin: 0 0 50px;
}
.box-servicos .box-header {
  margin: 8px 0 15px;
}
.box-servicos .box-header .media-heading {
  font-size: 30px;
  color: #3d3d3d;
}
.box-galeria,
.box-video,
.box-dicas {
  margin-bottom: 50px;
  color: #3d3d3d;
}
.box-galeria .box-bg,
.box-video .box-bg,
.box-dicas .box-bg {
  padding: 34px 56px 0 34px;
  height: 320px;
  background: #dbdae3 url(../imagem/site/bg-box.png) no-repeat right bottom;
  position: relative;
  z-index: 3;
}
.box-galeria .point,
.box-video .point,
.box-dicas .point {
  position: absolute;
  top: 0;
}
.box-galeria .box-header,
.box-video .box-header,
.box-dicas .box-header {
  margin-bottom: 15px;
}
.box-galeria .box-header .media-heading,
.box-video .box-header .media-heading,
.box-dicas .box-header .media-heading {
  font-size: 22px;
}
.box-galeria .box-bg {
  background: url(../imagem/site/bg-box-yellow.png) no-repeat right bottom #fed61c;
}
.box-galeria .point {
  right: 100%;
}
.box-video .box-bg {
  background: url(../imagem/site/bg-box-orange.png) no-repeat right bottom #f09029;
}
.box-video .point {
  left: 100%;
}
.box-dicas .point {
  right: 100%;
}
.box-dicas .box-header .media-heading {
  font-size: 25px;
}
.box-comentario {
  background: #fed61c url(../imagem/site/bg-box-yellow.png) no-repeat right bottom;
  height: 210px;
  text-align: center;
  position: relative;
}
.box-comentario .box-header {
  padding: 25px 30px 15px;
}
.box-comentario .box-header .media-heading {
  font-size: 20px;
  color: #f09029;
}
.box-comentario .box-content {
  color: #1e1e1e;
  position: relative;
  padding: 0px 106px 0;
}
.box-comentario .aspas-left,
.box-comentario .aspas-right {
  position: absolute;
  top: 12px;
}
.box-comentario .aspas-left {
  left: 18px;
}
.box-comentario .aspas-right {
  right: 18px;
}
.box-comentario .autor {
  font-size: 18px;
}
.box-comentario .comentario {
  font-size: 14px;
  margin: 0 0 15px;
  line-height: 1.2;
}
.page-comentario {
  background: #fed61c;
  margin-bottom: -50px;
  padding: 15px 0 30px;
}
.page-comentario .box-comentario {
  background-image: none;
  height: auto;
}
.page-comentario .box-comentario .box-header .media-heading {
  font-size: 30px;
  text-transform: uppercase;
}
.page-comentario .box-comentario .comentario {
  font-size: 20px;
}
.box-chamadas-internas .box-header {
  margin: 20px 0 30px;
}
.box-interna .box-header {
  text-transform: uppercase;
  margin: 0 0 40px;
}
.box .imagem {
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: block;
}
.box .content {
  background: url(../imagem/site/bg-box.jpg) no-repeat left top;
  height: 100px;
  padding: 16px 40px 0 20px;
  line-height: 1.2;
}
.box .media-heading {
  font-size: 22px;
}
.box .media-heading,
.box .media-heading a {
  color: #3d3d3d;
}
.conteudo-resumo {
  font-size: 28px;
  color: #acab9d;
  line-height: 1.2;
  margin: 15px 0 40px;
}
.conteudo-texto {
  font-size: 16px;
  line-height: 1.6;
  margin: 30px 0;
}
.conteudo-header {
  font-size: 20px;
  text-transform: uppercase;
}
.cycle-nav span {
  display: inline-block;
  cursor: pointer;
}
.form-control {
  box-shadow: none;
}
.galeria-cycle {
  position: relative;
  overflow: hidden;
}
.galeria-cycle,
.galeria-cycle .cycle-slideshow,
.galeria-cycle .link {
  width: 100%;
}
.galeria-cycle,
.galeria-cycle .cycle-slideshow,
.galeria-cycle .cycle-slideshow li,
.galeria-cycle .link {
  height: 320px;
}
.galeria-cycle .link {
  display: block;
  background: no-repeat center;
  background-size: cover;
}
.galeria-cycle .cycle-slideshow {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.galeria-cycle .cycle-slideshow li {
  width: 320px;
  padding: 0 10px;
}
.galeria-cycle .cycle-prev,
.galeria-cycle .cycle-next {
  top: 50%;
  margin-top: -35px;
  position: absolute;
  z-index: 3;
}
.galeria-cycle .cycle-prev {
  left: 25px;
}
.galeria-cycle .cycle-next {
  right: 25px;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.inline-block {
  display: inline-block;
}
[class^='ycon-'],
[class*='ycon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/ycon.png);
}
.lista-vantagens .media-heading {
  font-size: 22px;
  text-transform: uppercase;
}
.lista-vantagens .media {
  margin: 0 0 30px;
}
.lista-vantagens .media + .media {
  margin-top: 0;
}
.lista-box > li,
.lista-box .imagem,
.lista-box .link {
  height: 290px;
  overflow: hidden;
}
.lista-box > li {
  background: url(../imagem/site/bg-dicas.png) no-repeat center;
}
.lista-box .imagem,
.lista-box .link {
  width: 100%;
}
.lista-box .imagem,
.lista-box .link,
.lista-box .title,
.lista-box .mask {
  display: block;
}
.lista-box .link {
  position: relative;
  background: center no-repeat rgba(249,138,58,0.8);
  background-size: cover;
}
.lista-box .mask {
  background: url(../imagem/site/bg-mask.png) repeat-x bottom;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 150px;
  z-index: 2;
}
.lista-box .imagem {
  position: relative;
  z-index: 1;
}
.lista-box .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 290px;
  padding: 18px 0px 0 28px;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  z-index: 3;
  height: 94px;
}
.lista-box .title-content {
  display: inline-block;
  max-width: 96%;
  position: relative;
  z-index: 2;
}
.lista-box .title-text {
  display: block;
}
.lista-box .plus {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.lista-box .plus-lg {
  display: none;
  margin-top: 15px;
}
.lista-box .title-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(249,138,58,0.8);
  z-index: 1;
  display: none;
}
.pixel {
  width: 100%;
  height: 100%;
}
.page-header {
  padding-top: 54px;
  height: 228px;
  background: url(../imagem/site/bg-page-header.jpg) no-repeat center;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
  letter-spacing: -2px;
}
.page-header h1,
.page-header h2,
.page-header h3 {
  padding: 0;
  margin: 0;
  font-size: 60px;
}
.page-header h1,
.page-header h1 a,
.page-header h2,
.page-header h2 a,
.page-header h3,
.page-header h3 a {
  color: #FFF;
}
.page-header .content {
  display: inline-block;
  border: 1px solid #FFF;
  padding: 20px 40px;
}
.page-galeria {
  margin: 0 0 40px;
}
.page-galeria .page-heading {
  background: url(../imagem/site/bg-yellow.jpg) repeat center top;
  padding: 36px 0;
}
.page-galeria .page-heading .media-heading {
  font-size: 32px;
  line-height: 1.1;
  text-align: center;
}
.page-galeria .page-content {
  position: relative;
}
.page-galeria .ribbon-content {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: -19px;
  text-align: center;
}
.page-galeria .galeria-cycle-lg {
  position: relative;
}
.page-galeria .galeria-cycle-lg,
.page-galeria .galeria-cycle-lg .cycle-slideshow,
.page-galeria .galeria-cycle-lg .link {
  width: 100%;
}
.page-galeria .galeria-cycle-lg,
.page-galeria .galeria-cycle-lg .cycle-slideshow,
.page-galeria .galeria-cycle-lg .cycle-slideshow li,
.page-galeria .galeria-cycle-lg .link {
  height: 350px;
}
.page-galeria .galeria-cycle-lg .cycle-slideshow {
  position: relative;
  z-index: 1;
}
.page-galeria .galeria-cycle-lg .cycle-slideshow li {
  width: 480px;
}
.page-galeria .galeria-cycle-lg .link {
  display: block;
  position: relative;
}
.page-galeria .galeria-cycle-lg .cycle-prev,
.page-galeria .galeria-cycle-lg .cycle-next {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  background: rgba(0,0,0,0.4);
  text-align: center;
  padding: 163px 0;
}
.page-galeria .galeria-cycle-lg .cycle-prev {
  left: 0;
}
.page-galeria .galeria-cycle-lg .cycle-next {
  right: 0;
}
.page-galeria .galeria-cycle-lg .zoom {
  position: absolute;
  z-index: 5;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  display: none;
}
.pagination {
  display: inline-block;
  border: 3px solid #f98a3a;
}
.pagination > li {
  display: block;
  float: left;
}
.pagination > li > a,
.pagination > li > span {
  border: none;
}
.pagination > li:first-child {
  border-right: 4px solid #f98a3a;
}
.pagination > li:last-child {
  border-left: 4px solid #f98a3a;
}
.ribbon {
  display: inline-block;
  text-transform: uppercase;
  background: url(../imagem/site/ribbon-left.png) no-repeat left top;
  padding-left: 16px;
  font-size: 18px;
  color: #fced08;
  text-align: center;
}
.ribbon span {
  display: block;
}
.ribbon > span {
  background: url(../imagem/site/ribbon-right.png) no-repeat right top;
  padding-right: 16px;
}
.ribbon > span > span {
  background: #000;
  padding: 6px 20px;
  height: 40px;
}
.servico {
  margin: 0 0 15px;
}
.servico .imagem {
  display: inline-block;
  width: 95px;
  height: 102px;
  background: #ffb400;
  text-align: center;
}
.servico .media-heading {
  font-size: 25px;
  color: #3d3d3d;
  text-transform: uppercase;
  margin: 5px 0;
}
.servico .media-body {
  line-height: 1.2;
}
.servico-destaque {
  position: relative;
  margin: 0 0 50px;
  text-align: center;
}
.servico-destaque,
.servico-destaque .link,
.servico-destaque .content {
  height: 290px;
  width: 100%;
  display: block;
}
.servico-destaque .link {
  background: no-repeat center;
  background-size: cover;
  padding: 0 210px;
}
.servico-destaque .link span {
  display: block;
}
.servico-destaque .link:hover {
  text-decoration: none;
}
.servico-destaque .link:hover .title {
  color: #e06207;
}
.servico-destaque .link:hover .desc {
  color: #333333;
}
.servico-destaque .plus {
  position: absolute;
  right: 0;
  bottom: 0;
}
.servico-destaque .text {
  max-width: 96%;
  vertical-align: middle;
}
.servico-destaque .text,
.servico-destaque .space {
  display: inline-block !important;
}
.servico-destaque .title,
.servico-destaque .desc {
  transition: all 0.25s ease 0s;
}
.servico-destaque .title {
  font-size: 70px;
  color: #f98a3a;
}
.servico-destaque .title:after {
  content: " ";
  display: block;
  width: 80px;
  height: 1px;
  background: #b2b1b0;
  margin: 0 auto 20px;
}
.servico-destaque .desc {
  font-size: 16px;
  color: #595959;
}
.img-thumbnail.pull-left {
  margin-right: 15px;
  margin-bottom: 15px;
}
.img-thumbnail.pull-right {
  margin-left: 15px;
  margin-bottom: 15px;
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
