/*
FUNÇÕES PADRÕES START
*********************************************************************/
.clear,
.first {
  clear: both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
/*
NON-RESPONSIVE START
**********************************************************************************************/
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO START */
.container {
  max-width: none !important;
  width: 960px;
}
.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO END */
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides** Utilitze the following CSS to disable the responsive-ness of the container,* grid system, and navbar.*/
/* Reset the container */
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #fed61c !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/**********************************************************************************************
NON-RESPONSIVE END
*/
::selection {
  background-color: #f09029;
  color: #FFF;
}
::-moz-selection {
  background-color: #f09029;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a,
button {
  transition: all 0.25s ease 0s;
}
hr.lg {
  border-width: 3px;
  border-color: #1e1e1e;
}
/*
FONTS START
**********************************************************************************************/
.chamada .desc strong,
.servico .media-heading,
.box-servicos .box-header .media-heading,
.box-comentario .box-header .media-heading,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
.btn,
.site-header .navbar-nav,
.header-right,
.site-footer {
  font-family: 'GothamBlack', Arial, sans-serif;
  font-weight: normal;
}
.chamada .desc,
.chamada .resumo,
.chamada .resumo h1,
.box-comentario .autor,
.footer-header,
.box-bg .box-header .media-heading {
  font-family: 'GothamLightItalic', Arial, sans-serif;
  font-weight: normal;
}
.box-comentario .comentario {
  font-family: 'GothamBold', Arial, sans-serif;
  font-weight: normal;
}
.site-footer small {
  font-family: Arial, sans-serif;
  font-weight: normal;
}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
.extra-header,
.extra-central,
.extra-footer {
  min-width: 960px;
}
.extra-header .line-1 {
  background: url(../imagem/site/bg-header.jpg) no-repeat center top;
  height: 90px;
}
.extra-header .navbar {
  border: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.extra-header .navbar-nav {
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.extra-header .navbar-nav > li {
  float: none;
  display: inline-block;
}
.extra-header .social-header a {
  display: inline-block;
  vertical-align: middle;
}
.extra-header .social-header a + a {
  margin-left: 15px;
}
.extra-header .header-right {
  color: #000;
  text-align: right;
  padding-top: 34px;
}
.extra-header .header-right span {
  display: inline-block;
}
.extra-header .header-right > .content {
  display: inline-block;
  background: #FFF;
  height: 56px;
  padding: 14px 5px 14px 15px;
  margin-right: 34px;
}
.extra-header .phone-header {
  margin-left: 30px;
}
.extra-header .phone-header > .content {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.extra-central {
  padding: 0px 0 50px;
}
.extra-social {
  text-align: center;
  background: url(../imagem/site/mosaico.jpg) repeat center;
}
.extra-social .extra-1,
.extra-social .extra-2,
.extra-social .content {
  display: inline-block;
}
.extra-social .extra-1 {
  background: url(../imagem/site/bg-social-left.png) repeat-y left center;
  padding-left: 93px;
}
.extra-social .extra-2 {
  background: url(../imagem/site/bg-social-right.png) repeat-y right center;
  padding-right: 93px;
}
.extra-social .content {
  padding: 40px 40px;
  background: #FFF;
}
.extra-social .content > a + a {
  margin-left: 15px;
}
.extra-footer {
  background: #000;
  text-align: center;
  color: #e1e1e1;
  padding: 18px 0;
}
.extra-footer .footer-header {
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  color: #FFF;
  margin: 15px 0;
}
.extra-footer small {
  font-size: 10px;
}
.home .extra-central {
  padding-top: 20px;
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.btn {
  text-transform: uppercase;
}
.btn .ycon-arrow-right-white,
.btn .ycon-arrow-right {
  margin-left: 15px;
  margin-top: -3px;
}
.btn-white {
  background: #FFF;
  color: #3d3d3d;
}
.btn-white:hover {
  background-color: #e6e6e6;
}
.btn-border {
  border: 3px solid;
  background-color: transparent;
}
.btn-border:hover {
  color: #FFF;
}
.btn-border.btn-warning {
  border-color: #ffb400;
  color: #ffb400;
}
.btn-border.btn-primary {
  border-color: #fed61c;
  color: #fed61c;
}
.btn-border.btn-default {
  border-color: #cecece;
  color: #3d3d3d;
}
.btn-border.btn-default:hover {
  color: #000;
}
.box-chamadas .chamada {
  position: relative;
  margin: 0 0 20px;
  text-align: right;
  overflow: hidden;
}
.box-chamadas .chamada .imagem {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
}
.box-chamadas .chamada .imagem a {
  display: block;
  width: 100%;
  height: 275px;
  background: no-repeat center;
  background-size: cover;
}
.box-chamadas .chamada .hover {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.box-chamadas .chamada .resumo {
  padding: 15px 30px;
}
.box-chamadas .chamada .resumo,
.box-chamadas .chamada .resumo h1 {
  font-size: 46px;
  line-height: 1;
}
.box-chamadas .chamada .resumo,
.box-chamadas .chamada .resumo h1,
.box-chamadas .chamada .resumo a,
.box-chamadas .chamada .resumo h1 a {
  color: #FFF;
}
.box-chamadas .chamada .desc {
  background: url(../imagem/site/bg-chamada-desc.png) no-repeat left top;
  width: 360px;
  height: 85px;
  font-size: 16px;
  padding: 27px 15px 0px 90px;
}
.box-chamadas .chamada .desc > a {
  display: inline-block;
  vertical-align: middle;
  max-width: 96%;
}
.box-chamadas .chamada .desc,
.box-chamadas .chamada .desc a {
  color: #3d3d3d;
}
.box-chamadas .chamada.destaque .imagem a {
  height: 570px;
}
.box-chamadas .chamada.destaque .hover {
  width: 480px;
}
.box-chamadas .chamada.destaque .desc {
  font-size: 25px;
  background-image: url(../imagem/site/bg-chamada-destaque-desc.png);
  width: 480px;
  height: 111px;
  line-height: 1;
  padding-top: 0;
}
.box-servicos {
  margin: 0 0 50px;
}
.box-servicos .box-header {
  margin: 8px 0 15px;
}
.box-servicos .box-header .media-heading {
  font-size: 30px;
  color: #3d3d3d;
}
.box-galeria,
.box-video,
.box-dicas {
  margin-bottom: 50px;
  color: #3d3d3d;
}
.box-galeria .box-bg,
.box-video .box-bg,
.box-dicas .box-bg {
  padding: 34px 56px 0 34px;
  height: 320px;
  background: #dbdae3 url(../imagem/site/bg-box.png) no-repeat right bottom;
  position: relative;
  z-index: 3;
}
.box-galeria .point,
.box-video .point,
.box-dicas .point {
  position: absolute;
  top: 0;
}
.box-galeria .box-header,
.box-video .box-header,
.box-dicas .box-header {
  margin-bottom: 15px;
}
.box-galeria .box-header .media-heading,
.box-video .box-header .media-heading,
.box-dicas .box-header .media-heading {
  font-size: 22px;
}
.box-galeria .box-bg {
  background: url(../imagem/site/bg-box-yellow.png) no-repeat right bottom #fed61c;
}
.box-galeria .point {
  right: 100%;
}
.box-video .box-bg {
  background: url(../imagem/site/bg-box-orange.png) no-repeat right bottom #f09029;
}
.box-video .point {
  left: 100%;
}
.box-dicas .point {
  right: 100%;
}
.box-dicas .box-header .media-heading {
  font-size: 25px;
}
.box-comentario {
  background: #fed61c url(../imagem/site/bg-box-yellow.png) no-repeat right bottom;
  height: 210px;
  text-align: center;
  position: relative;
}
.box-comentario .box-header {
  padding: 25px 30px 15px;
}
.box-comentario .box-header .media-heading {
  font-size: 20px;
  color: #f09029;
}
.box-comentario .box-content {
  color: #1e1e1e;
  position: relative;
  padding: 0px 106px 0;
}
.box-comentario .aspas-left,
.box-comentario .aspas-right {
  position: absolute;
  top: 12px;
}
.box-comentario .aspas-left {
  left: 18px;
}
.box-comentario .aspas-right {
  right: 18px;
}
.box-comentario .autor {
  font-size: 18px;
}
.box-comentario .comentario {
  font-size: 14px;
  margin: 0 0 15px;
  line-height: 1.2;
}
.cycle-nav span {
  display: inline-block;
  cursor: pointer;
}
.form-control {
  box-shadow: none;
}
.galeria-cycle {
  position: relative;
  overflow: hidden;
}
.galeria-cycle,
.galeria-cycle .cycle-slideshow,
.galeria-cycle .link {
  width: 100%;
}
.galeria-cycle,
.galeria-cycle .cycle-slideshow,
.galeria-cycle .cycle-slideshow li,
.galeria-cycle .link {
  height: 320px;
}
.galeria-cycle .link {
  display: block;
  background: no-repeat center;
  background-size: cover;
}
.galeria-cycle .cycle-slideshow {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.galeria-cycle .cycle-slideshow li {
  width: 320px;
  padding: 0 10px;
}
.galeria-cycle .cycle-prev,
.galeria-cycle .cycle-next {
  top: 50%;
  margin-top: -35px;
  position: absolute;
  z-index: 3;
}
.galeria-cycle .cycle-prev {
  left: 25px;
}
.galeria-cycle .cycle-next {
  right: 25px;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.inline-block {
  display: inline-block;
}
[class^='ycon-'],
[class*='ycon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/ycon.png);
}
.pixel {
  width: 100%;
  height: 100%;
}
.page-header {
  padding-top: 54px;
  height: 228px;
  background: url(../imagem/site/bg-page-header.jpg) no-repeat center;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}
.page-header h1,
.page-header h2,
.page-header h3 {
  padding: 0;
  margin: 0;
  font-size: 60px;
}
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h1 a,
.page-header h2 a,
.page-header h3 a {
  color: #FFF;
}
.page-header .content {
  display: inline-block;
  border: 1px solid #FFF;
  padding: 20px 40px;
}
.servico {
  margin: 0 0 15px;
}
.servico .imagem {
  display: inline-block;
  width: 95px;
  height: 102px;
  background: #ffb400;
  text-align: center;
}
.servico .media-heading {
  font-size: 25px;
  color: #3d3d3d;
  text-transform: uppercase;
  margin: 5px 0;
}
.servico .media-body {
  line-height: 1.2;
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/
/**********************************************************************************************
JQUERY UI END
*/
@media (max-width: 767px) {
  /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
  /*#GERAL:before {content:"MOBILE";}*/
}
@media (min-width: 981px) and (max-width: 1200px) {
  /*#GERAL:before {content:"ACIMA DE TABLET";}*/
}
