.ycon{ background:url("ycon.png") top left no-repeat; }
.ycon-point-gray-left{ width:55px; height:111px; background-position:-1px -1px; }
.ycon-point-right{ width:47px; height:97px; background-position:-57px -1px; }
.ycon-point-yellow-left{ width:47px; height:95px; background-position:-105px -1px; }
.ycon-btn-plus{ width:81px; height:81px; background-position:-1px -113px; }
.ycon-plus-lg{ width:70px; height:70px; background-position:-83px -113px; }
.ycon-cycle-prev{ width:44px; height:70px; background-position:-1px -195px; }
.ycon-cycle-next{ width:44px; height:70px; background-position:-46px -195px; }
.ycon-aspas-right{ width:68px; height:45px; background-position:-91px -195px; }
.ycon-aspas-left{ width:68px; height:45px; background-position:-1px -266px; }
.ycon-zoom{ width:43px; height:40px; background-position:-70px -266px; }
.ycon-instagram{ width:158px; height:36px; background-position:-1px -312px; }
.ycon-address-gray{ width:20px; height:31px; background-position:-114px -266px; }
.ycon-facebook{ width:159px; height:31px; background-position:-1px -349px; }
.ycon-twitter{ width:170px; height:31px; background-position:-1px -381px; }
.ycon-phone-gray{ width:26px; height:26px; background-position:-135px -266px; }
.ycon-whatsapp{ width:24px; height:24px; background-position:-1px -413px; }
.ycon-mail-gray{ width:28px; height:22px; background-position:-26px -413px; }
.ycon-instagram-sm{ width:22px; height:22px; background-position:-55px -413px; }
.ycon-facebook-sm{ width:11px; height:22px; background-position:-153px -1px; }
.ycon-cycle-next-sm{ width:11px; height:20px; background-position:-154px -113px; }
.ycon-cycle-prev-sm{ width:11px; height:20px; background-position:-160px -195px; }
.ycon-twitter-sm{ width:21px; height:18px; background-position:-78px -413px; }
.ycon-arrow-right-white{ width:12px; height:17px; background-position:-100px -413px; }
.ycon-arrow-right{ width:12px; height:17px; background-position:-113px -413px; }

